<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--===== CSS =====-->
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Login form</title>
    </head>
    <body>
        <div class="l-form">
            <form action="/" class="form" id = "loginForm" method = "POST">
                <h1 class="form__title">NA Log In</h1>

                <div class="form__div">
                    <input type="text" id = "inputValue" class="form__input" placeholder=" " name = 'username'>
                    <label for="" class="form__label">Email</label>
                </div>

                <div class="form__div">
                    <input type="password" class="form__input" placeholder=" " name = 'password'>
                    <label for="" class="form__label">Password</label>
                </div>
                
                <div class="form__div">
                    <select class="form__input" placeholder=" ">
                        <option value="academic">Academic</option>
                        <option value="dance">Dance</option>
                        <option value="art">Art</option>
                    </select>
                    <label class="form__label">Choose a track:</label>
                </div>
                
                <div class="form__div">
                    <select class="form__input" placeholder=" ">
                        <option value="grade9">9</option>
                        <option value="grade10">10</option>
                        <option value="grade11">11</option>
                        <option value="grade12">12</option>
                    </select>
                    <label class="form__label">Choose a gade:</label>
                </div>
                <input class="form__button" type="submit" value = 'Log In'>
            </form>
        </div>
    </body>
</html>