<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type = "text/css" href = "//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
    <script type = "text/javascript" src = "//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <title>Table</title>
</head>
<body>
    <inputtype type="text" placeholder="username" name = 'username'>
    <form id = "form1" runat = "server">
        <table>
            <thread>
                <tr>
                    <th>loh</th>
                    <th>loh</th>
                    <th>loh</th>
                    <th>loh</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <th>ne loh</th>
                    <th>ne loh</th>
                    <th>ne loh</th>
                    <th>ne loh</th>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
