<head>
    <title>SignUpForm</title>
    <!--===== CSS =====-->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<div class="l-form">
    <form action = "signup" class="form" id = "loginForm" method = "POST">
        <h1 class="form__title">NA Sign Up</h1>

        <div class="form__div">
            <input type="text" id = "inputValue" class="form__input" placeholder=" " name = 'username_in'>
            <label for="" class="form__label" id = "emailLable">Email</label>            
        </div>
        <div class="form__div">
            <input id = "password" type="password" class="form__input" placeholder=" " name = 'password_in' required oninput="checkPassword()">
            <label id = "passwordLable" for="" class="form__label">Password</label>
        </div>

        <div class="form__div">
            <select class="form__input" placeholder=" " name = 'track_in'>
                <option value="Academic">Academic</option>
                <option value="Dance">Dance</option>
                <option value="Art">Art</option>
            </select>
            <label class="form__label">Choose a track:</label>
        </div>

        <div class="form__div">
            <select class="form__input" placeholder=" " name = 'grade_in'>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <label class="form__label">Choose a gade:</label>
        </div>
        <button type="submit" class="form__button">Sign Up</button>
    </form>
</div>
<script>
function isValidEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

const emailInput = document.getElementById("inputValue");
const emailValidationMessage = document.getElementById("emailLable");
//const emailInputForm = documenr.getElementById("inputValue")

emailInput.addEventListener("input", function() {
    const email = emailInput.value.trim();

    if (!(isValidEmail(email))) {
        emailValidationMessage.textContent = "Email is not valid";
        emailValidationMessage.style.color = "red";
        emailInput.style.borderColor = "red";
        console.log("Email is not valid");
        event.preventDefault()
    } else {
        emailValidationMessage.textContent = "Email";
        emailValidationMessage.style.color = "#1A73E8";
        emailInput.style.borderColor = "#1A73E8";
        console.log("Email is valid");
    }
});

function checkPassword() {
    var passwordInput = document.getElementById("password");
    var passwordLable = document.getElementById("passwordLable");

    if (passwordInput.value === "") {
        passwordInput.classList.add("error");
    } else {
        passwordInput.classList.remove("error");
    }
}
</script>